{{ partial "header.html" . }}
<div class="article-meta">
    <h1><span class="title">{{ .Title | markdownify }}</span></h1>
    {{ if .Params.draft }}
    <h2 style="color:red;">DRAFT</h2>
    {{ end }}
    <h2 class="date">
        {{ if (gt .Params.date 0) }}
        {{ .Date.Format "2 January 2006" }}
        {{ end }}
    </h2>

    {{ range (.GetTerms "series") }}
    Part {{ $.Params.series_weight }} of a series on <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    {{ end }}
</div>

<main>
    {{ .Content }}
</main>

{{ partial "footer.html" . }}